body {
    text-align: center;
}
#changes {
    padding: 1em;
    border: 1px solid cadetblue;
    width: 70%;
}
h1 {
    background: orange;
    color: teal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: #229;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}